<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>faik-ffb</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 id="title">faik-ffb</h1>
<p>Interactive video for Faik's Fallback Fuckboy</p>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>