<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>faik-ffb</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<video id="alex-video" muted style="display:none">
  <source src="textures/alex_fallback.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'/>
</video>
<video id="jaq-video" muted style="display:none">
  <source src="textures/jaq_fallback.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'/>
</video>
<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>
