body,
html {
  margin: 0;
  overflow: hidden;
}
video {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
#alex-video-canvas,
#jaq-video-canvas {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
